<h1 class="text-center">Login and Redg</h1>
<div class="container">
  <% if flash[:errors] %>
    <div class="row">
      <% flash[:errors].each do |error| %>
        <p class="text-danger"><%= error %></p>
      <% end %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <p class="lead text-muted">Registration</p>
      <%= form_for @user do |f| %>
        <%# <%= render 'layouts/error_messages', f: f.object %>
        <div class="form-group">
          <%=  f.label :name %>
          <%=  f.text_field :name %>
        </div>
        <div class="form-group">
          <%=  f.label :email %>
          <%=  f.email_field :email %>
        </div>
        <div class="form-group">
          <%=  f.label :password %>
          <%=  f.password_field :password %>
        </div>
        <div class="form-group">
          <%=  f.label :password_confirmation %>
          <%=  f.password_field :password_confirmation %>
        </div>
        <%=  f.submit "Create User"  %>
      <% end %>
    </div>
    <div class="col-md-6">
      <p class="lead text-muted">Login</p>
      <%= form_tag sessions_path do %>
        <div class="form-group">
          <%=  label_tag :email %>
          <%=  email_field_tag :email %>
        </div>
        <div class="form-group">
          <%=  label_tag :password %>
          <%=  password_field_tag :password %>
        </div>
        <%=  submit_tag "Sign In"  %>
      <% end %>
    </div>
  </div>
</div>
